<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a routerLink="[/cliente]"> Clientes </a>
        </li>
        <li>
          <a routerLink="[/cliente]"> Vehiculos </a>
        </li>
        <li>
          <a routerLink="[/cliente]"> mecanico </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{ test | date: "yyyy" }}, made with love by
      <a routerLink="[/home]" target="_blank">Wendy Gomez</a>.
    </div>
  </div>
</footer>
